# {{ ansible_managed }}
{% include "./templates/3.4.1/neo4j.conf.generic.j2" %}

{% include "./templates/3.4.1/neo4j.conf.memory.j2" %}

{% include "./templates/3.4.1/neo4j.conf.network.j2" %}

{% include "./templates/3.4.1/neo4j.conf.ssl.j2" %}

{% include "./templates/3.4.1/neo4j.conf.logging.j2" %}

{% include "./templates/3.4.1/neo4j.conf.security.j2" %}

{% include "./templates/3.4.1/neo4j.conf.cluster.j2" %}

{% include "./templates/3.4.1/neo4j.conf.mdc.j2" %}

{% include "./templates/3.4.1/neo4j.conf.misc.j2" %}

{% include "./templates/3.4.1/neo4j.conf.jvm.j2" %}

{% include "./templates/3.4.1/neo4j.conf.udp.j2" %}
