{% block network %}
dbms.connectors.default_listen_address={{ neo4j_default_listen_address }}
dbms.connectors.default_advertised_address={{ neo4j_default_advertised_address }}

dbms.connector.bolt.enabled=true
#dbms.connector.bolt.tls_level=OPTIONAL
dbms.connector.bolt.listen_address=:{{ neo4j_bolt_port }}
dbms.connector.http.enabled=true
dbms.connector.http.listen_address=:{{ neo4j_http_port }}
dbms.connector.https.enabled=true
dbms.connector.https.listen_address=:{{ neo4j_https_port }}
{% endblock %}
