#!/usr/bin/env bash

# {{ ansible_managed }}

NEO4J_BIN="{{ neo4j_directory_bin }}"
SCRIPT_NAME="$(basename "$0")"
SCRIPT_PATH=""${NEO4J_BIN}"/"${SCRIPT_NAME}""

[ -r /etc/default/neo4j ] && . /etc/default/neo4j

if [ "$(whoami)" != "{{ neo4j_os_user }}" ]; then
  echo "Script must be run as user: {{ neo4j_os_user }}"
  exit -1
fi

NEO4J_HOME="${NEO4J_HOME:-{{ neo4j_os_home }}}" NEO4J_CONF="${NEO4J_CONF:-{{ neo4j_directory_configuration }}}" exec "${SCRIPT_PATH}" "$@"
