{% block logging %}
#dbms.logs.http.enabled=true
#dbms.logs.http.rotation.keep_number=5
#dbms.logs.http.rotation.size=20m
#dbms.logs.gc.enabled=true
#dbms.logs.gc.options=-XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+PrintGCApplicationStoppedTime -XX:+PrintPromotionFailure -XX:+PrintTenuringDistribution
#dbms.logs.gc.rotation.keep_number=5
#dbms.logs.gc.rotation.size=20m
#dbms.logs.debug.rotation.size=20m
#dbms.logs.debug.rotation.keep_number=7
#dbms.logs.query.enabled=true
#dbms.logs.query.threshold=0
#dbms.logs.query.rotation.size=20m
#dbms.logs.query.rotation.keep_number=7
#dbms.logs.query.parameter_logging_enabled=true
#dbms.logs.query.time_logging_enabled=true
#dbms.logs.query.allocation_logging_enabled=true
#dbms.logs.query.page_logging_enabled=true
#dbms.logs.security.level=INFO
#dbms.logs.security.rotation.size=20m
#dbms.logs.security.rotation.delay=300s
#dbms.logs.security.rotation.keep_number=7
{% endblock %}
